{:a1 :white-rook-a
 :b1 :white-knight-b
 :c1 :white-bishop-c
 :d1 :white-queen
 :e1 :white-king
 :f1 :white-bishop-f
 :g1 :white-knight-g
 :h1 :white-rook-h
 :a2 :white-pawn-a
 :b2 :white-pawn-b
 :c2 :white-pawn-c
 :d2 :white-pawn-d
 :e2 :white-pawn-e
 :f2 :white-pawn-f
 :g2 :white-pawn-g
 :h2 :white-pawn-h
 :a3 :empty
 :b3 :empty
 :c3 :empty
 :d3 :empty
 :e3 :empty
 :f3 :empty
 :g3 :empty
 :h3 :empty
 :a4 :empty
 :b4 :empty
 :c4 :empty
 :d4 :empty
 :e4 :empty
 :f4 :empty
 :g4 :empty
 :h4 :empty
 :a5 :empty
 :b5 :empty
 :c5 :empty
 :d5 :empty
 :e5 :empty
 :f5 :empty
 :g5 :empty
 :h5 :empty
 :a6 :empty
 :b6 :empty
 :c6 :empty
 :d6 :empty
 :e6 :empty
 :f6 :empty
 :g6 :empty
 :h6 :empty
 :a7 :black-pawn-a
 :b7 :black-pawn-b
 :c7 :black-pawn-c
 :d7 :black-pawn-d
 :e7 :black-pawn-e
 :f7 :black-pawn-f
 :g7 :black-pawn-g
 :h7 :black-pawn-h
 :a8 :black-rook-a
 :b8 :black-knight-b
 :c8 :black-bishop-c
 :d8 :black-queen
 :e8 :black-king
 :f8 :black-bishop-f
 :g8 :black-knight-g
 :h8 :black-rook-h}
